* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  .dashboard {
      height: 100vh;
      min-width:  calc(100% - 50px);
      padding: 30px;
      background-color: black;
  }

  .container {
      width: 50%;
      height: 50%;
      padding: 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .dashboard .container {
      float: left;
  }

  .container.selectors select,.container.selectors input,.container.selectors button {
      width: 100%;
      padding: 1.1vw;
      border-radius: 5px;
      border: 1px solid black;
      font-family: 'Roboto', sans-serif;
      font-size: 1.1vw;
  }

  .container.selectors button {
      color: white;
      background-color: green;
      text-transform: uppercase;
      border: none;
      font-weight: bold;
      margin-top: 10px;
  }

  .container.selectors select,input[type=number] {
      -webkit-appearance: none;
      -moz-appearance: textfield;
  }
